@model SystemHR.Models.Urlop


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>




<h3>Dodaj urlop</h3>

<form asp-action="Dodaj" asp-controller="Urlopy" method="post">

    <div class="form-group">
        <label for="Nr_identyfikacyjny">Nr identyfikacyjny</label>
        <input asp-for="Nr_identyfikacyjny" class="form-control" />
        <span asp-validation-for="Nr_identyfikacyjny" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="nazwa_wolnego">Tytuł</label>
        <input asp-for="nazwa_wolnego" class="form-control" />
        <span asp-validation-for="nazwa_wolnego" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="dane_wolnego">dane_wolnego</label>
        <input asp-for="dane_wolnego" class="form-control" />
        <span asp-validation-for="dane_wolnego" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Identyfikator">Identyfikator</label>
        <input asp-for="Identyfikator" class="form-control" />
        <span asp-validation-for="Identyfikator" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="KategoriaId">Kategoria</label>
        <select asp-for="Kategoria" class="form-control" asp-items="ViewBag.Kategorie">
            <option value="">-- Wybierz kategorię --</option>
        </select>
        <span asp-validation-for="Kategoria" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}