@{
    ViewBag.Title = "Błąd wyszukiwania Pracownika";
}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>


<h3>Błąd</h3>
<p>@ViewBag.Message</p>

<a href="/Wolne/Index" class="btn btn-primary">Powrót do wyszukiwania</a>